
{% extends 'cd/base.html' %}

{% block content %}


{% block title %}<h1>Majors</h1>{% endblock %}


{% for major in majors %}
                
{% for item in major.premajor %}
    {{item.name}}
    {% for course in item.courses%}
        {{course}}
    {% endfor %}
{% endfor %}

{% endfor %}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Premajor courses:
            
        </h6>

        <form method="post">

            {% for major in majors %}
                
                {% for item in major.premajor %}
                    {{item.name}}
                    {% for completed in item.completed%}
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-lg mb-0 checkbox-label" >{{completed}}</p>
                            </label>
                        </div> 
            
                    {% endfor %}
                {% endfor %}

            {% endfor %}

            <script>

                var majors = {{majors}}

                for(let i=0; i<majors.length; i++){
                    var newdiv = document.createElement('div');
                    newdiv.class = "form-check"
                    newdiv.innerHTML = 
                    majors[i]['name'];
                }

            </script>
            {% for course in item.courses %}
            {% for completed in item.completed%}
                
                {% if course == completed %}
                    
                {% endif %}
            {% endfor %}
        {% endfor %}



            {% for item in majors.premajor.completed %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <p class="text-lg mb-0 checkbox-label" >Hello</p>
                </label>
            </div>
        
            {% endfor %}
        
            


        </form>
            
    </div>
    <div class="card-body">

        <script>

        </script>
        <!-- JAVASCRIPT FUNCTION FOR CREATING CHECKBOXES AND COURSE LABELS-->

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                <p class="text-lg mb-0 checkbox-label" >Course here</p>
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                <p class="text-lg mb-0 checkbox-label" >Course here</p>
            </label>
          </div>

          
        <div class="container">
            <div class="round">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"> <div> <p class="text-lg mb-0 checkbox-label" >Course here</p> </div> </label>
            </div>
        </div>
        

        <div class="container">
            <div class="round">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>
        </div>

    </div>

</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Core courses</h6>
    </div>
    <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap
        utility classes. By using utility classes, the style of the card component can be
        easily modified with no need for any custom CSS!
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Electives</h6>
    </div>
    <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap
        utility classes. By using utility classes, the style of the card component can be
        easily modified with no need for any custom CSS!
    </div>
</div>


<p class="text-lg mb-0"></p>


{% endblock %}


















{% comment %} {% block major %}{{major.major0.name}}{% endblock %} {% endcomment %}


{% comment %} 
PREMAJOR


CORE

ELECTIVE

- dropdown of all available courses in that department

{% endcomment %}




{% comment %} 
- list of prereq courses
- list of core courses
- list of 

- list of uncompleted prereq courses (PRINT LIST with unchecked box)
- list of completed prereq courses (PRINT LIST with checked box) -> use javascript (post method or sth) to implement a button. OR implement a form.
- 



{% endcomment %}