
{% extends 'cd/base.html' %}

{% block content %}


{% block title %}<h1>Majors</h1>{% endblock %}

<div class="my-4"></div>

{% for major in majors %}
    <div class="card mb-4 py-3 bg-gradient-info">
        <div class="card-body">
            <h4 class="text-gray-100"> {{major.name}}</h4>
        </div>
    </div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Premajor courses:
            
        </h6>

        <form method="post">
                
                {% for item in major.premajor %}
                <div class="my-3"></div>
                    <h5> {{item.name}}</h5>
                    <h6 class="bg-gray-200"> {{item.noOfRequired}} required</h6> <!-- FIXME: if noOfRequired = 1, what does that mean?-->

                    <!-- {% for completed in item.completed%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-lg mb-0 checkbox-label" >{{completed}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                    {{ item.form.as_p }}
                    <!-- {% for course in item.courses%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="post()">
                                <script>
                                    input.onclick=post();
                                    function post() {
                                        console.log("clicked!");
                                        var form = document.createElement('form');
                                        form.setAttribute('method', 'post');
                                        // form.setAttribute('action', 'http://google.com'); FIXME:
                                        form.style.display = 'hidden';
                                        document.body.appendChild(form)
                                        form.submit();
                                    }
                                </script>
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-sm mb-0 checkbox-label" >{{course}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                {% endfor %}
        
        
            


        </form>
            
    </div>
    <div class="card-body">

    </div>

</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Premajor courses:
            
        </h6>

        <form method="post">
                
                {% for item in major.core %}
                <div class="my-3"></div>
                    <h5> {{item.name}}</h5>
                    <h6 class="bg-gray-200"> {{item.noOfRequired}} required</h6> <!-- FIXME: if noOfRequired = 1, what does that mean?-->

                    <!-- {% for completed in item.completed%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-lg mb-0 checkbox-label" >{{completed}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                    {{ item.form.as_p }}
                    <!-- {% for course in item.courses%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="post()">
                                <script>
                                    input.onclick=post();
                                    function post() {
                                        console.log("clicked!");
                                        var form = document.createElement('form');
                                        form.setAttribute('method', 'post');
                                        // form.setAttribute('action', 'http://google.com'); FIXME:
                                        form.style.display = 'hidden';
                                        document.body.appendChild(form)
                                        form.submit();
                                    }
                                </script>
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-sm mb-0 checkbox-label" >{{course}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                {% endfor %}
        
            {% endfor %}
        
            


        </form>
            
    </div>
    <div class="card-body">

    </div>

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Premajor courses:
            
        </h6>

        <form method="post">
                
                {% for item in major.electives %}
                <div class="my-3"></div>
                    <h5> {{item.name}}</h5>
                    <h6 class="bg-gray-200"> {{item.noOfRequired}} required</h6> <!-- FIXME: if noOfRequired = 1, what does that mean?-->
<!-- 
                    {% for completed in item.completed%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-lg mb-0 checkbox-label" >{{completed}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                    {{ item.form.as_p }}
                    <!-- {% for course in item.courses%}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="post()">
                                <script>
                                    input.onclick=post();
                                    function post() {
                                        console.log("clicked!");
                                        var form = document.createElement('form');
                                        form.setAttribute('method', 'post');
                                        // form.setAttribute('action', 'http://google.com'); FIXME:
                                        form.style.display = 'hidden';
                                        document.body.appendChild(form)
                                        form.submit();
                                    }
                                </script>
                            <label class="form-check-label" for="flexCheckChecked">
                                <p class="text-sm mb-0 checkbox-label" >{{course}}</p>
                            </label>
                        </div> 
                    {% endfor %} -->

                {% endfor %}
        </form>
            
    </div>
    <div class="card-body">

    </div>

</div>
{% endblock %}


















{% comment %} {% block major %}{{major.major0.name}}{% endblock %} {% endcomment %}


{% comment %} 
PREMAJOR


CORE

ELECTIVE

- dropdown of all available courses in that department

{% endcomment %}




{% comment %} 
- list of prereq courses
- list of core courses
- list of 

- list of uncompleted prereq courses (PRINT LIST with unchecked box)
- list of completed prereq courses (PRINT LIST with checked box) -> use javascript (post method or sth) to implement a button. OR implement a form.
- 



{% endcomment %}