{% extends 'cd/base.html' %}

{% block content %}

{% block title %}<h3 style="text-align:center">Select Major</h3>{% endblock %}

<div style="display:flex;align-items:center;justify-content:center">

<form method="POST", id = "mForm">

	<fieldset id = "mFormFields">
		<!-- <select aria-label="label" type = "text" id = "major">{% for major in majors %}<option value = '{{major.name}}'>{{ major.name }}</option>{% endfor %}</select> -->
		{{ majorForm.major }}
		<input type = "submit" value = "Submit">
		{% csrf_token %}
	</fieldset>
</form>
